.header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.3px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}


.header__left {
    display: flex;
}

.header__left>img {
    object-fit: contain;
    height: 50px;
    margin-left: 10px;
}

.header__search {
    padding: 5px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    height: 30px;
    color: gray;
    background-color: #eef3f8;
    margin-left: 10px;
    margin-top: 5px;
}

.header__search > input{
    outline: none;
    border: none;
    background: none;
    width: 242px;
}

.header__right{
    display: flex;
   
    
}