.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  /* cursor: pointer; */
}

.headerOptions:hover {
  color: black;
}

.headerOption__title {
  font-size: 11px;
  font-weight: 500;
}

.headerOption__img {
  height: 23px !important;
  width: 25px !important;
  font-weight: 500;
}
